# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on: [push]

jobs:    
  build:
    runs-on: ubuntu-latest

    env:
      AWS_DEFAULT_REGION: us-west-2

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade flake8 pytest tox black converge wheel twine
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Test
      run: |
        ls
        pwd
        tox

    - name: Release Build
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      run: |
        ls
        pwd
        
        python setup.py bdist_wheel --universal
        python setup.py sdist

    - name: Publish package
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}